.view-weather-wrapper {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 7px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1.5px solid #e3507d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100vw - 90px) !important;
    .selected-location-weather {
        display: flex;
        justify-content: space-between;
        width: 80%;
        p {
            color: whitesmoke;
        }
        .location {
            cursor: pointer;
        }
    }
    .search-location {
        .search-location-wrapper {
            background-color: #8d80f6;
            width: 15vw;
            border-radius: 8px;
            height: 3rem;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            input {
                background-color: transparent;
                border: none;
                height: 100%;
                font-size: 1rem;
                width: calc(100% - 15px) !important;
                margin: 0 15px;
                &:focus {
                    outline: none;
                    color: #efefef;
                    font-size: 20px;
                }
            }
        }    
        .results-list {
            display: flex;
            flex-direction: column;
            position: absolute;
            width: 15vw;
            margin-top: 1px;
            background: none;
            border-radius: 8px;
            overflow: hidden;
            z-index: 3;
            border: #8d80f6 2px solid;
            .search-location-result {
                cursor: pointer;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                background-color: rgba(0, 0, 0, 0.95);
                padding: 10px;
                p {
                    color: whitesmoke;
                    font-size: 15px;
                    padding: 0;
                    margin: 0;
                }
                .country {
                    align-self: flex-end;
                    align-content: flex-end;
                    font-size: 10px;
                }
                &:hover {
                    background-color: rgba(32, 31, 31, 0.9);
                }
            }
        }
    }
}